<div class="col-md-12">
	<p>Version <span class="label label-primary" style="float:right;">{{ resource.properties.basicProperties[1].value }}</span></p>
	<p>PID <span class="label label-primary" style="float:right;">{{ resource.properties.advancedProperties[7].value }}</span></p>
	
	<hr/>
	
	<h4>Operating System</h4>
	<p>Platform name <span class="label label-primary" style="float:right;">{{ resource.properties.advancedProperties[0].value }}</span></p>
	<p>Platform architecture <span class="label label-primary" style="float:right;">{{ resource.properties.advancedProperties[3].value }}</span></p>
	<p>Platform version <span class="label label-primary" style="float:right;">{{ resource.properties.advancedProperties[4].value }}</span></p>
</div>