<div class="col-md-12">
	<p>Trace level <span class="label label-primary" style="float:right;">{{ resource.properties.basicProperties[1].value }}</span></p>
	<p>User trace level <span class="label label-primary" style="float:right;">{{ resource.properties.advancedProperties[0].value }}</span></p>
	
	<hr/>
	
	<h4>Deployment Properties</h4>
	<p>Modify time <span class="label label-primary" style="float:right;">{{ resource.properties.deployedProperties[0].value }}</span></p>
	<p>Deploy time <span class="label label-primary" style="float:right;">{{ resource.properties.deployedProperties[1].value }}</span></p>
	<p>Bar File <span class="label label-primary" style="float:right;">{{ resource.properties.deployedProperties[2].value }}</span></p>
</div>