<ng-include src="'views/navbar.html'"></ng-include>
<div class="container-fluid top-buffer-lg">
<div class="jumbotron">
	<div class="row">
		<form role="form" class="form-horizontal">
			<div class="form-group">
				<label for="inputHostname" class="col-md-4 control-label">Hostname*</label>
				<div class="col-md-4">
					<input type="text" ng-model="inode.host" class="form-control" id="inputHostname" placeholder="Hostname" required>
				</div>
			</div>

			<div class="form-group">
				<label for="inputPort" class="col-md-4 control-label">Port*</label>
				<div class="col-md-4">
					<input type="text" ng-model="inode.port" class="form-control" id="inputPort" placeholder="Port" required>
				</div>
			</div>

			<div class="form-group">
				<label for="inputUsername" class="col-md-4 control-label">Username</label>
				<div class="col-md-4">
					<input type="text" ng-model="inode.username" class="form-control" id="inputUsername" placeholder="Username (Optional)">
				</div>
			</div>

			<div class="form-group">
				<label for="inputPassword" class="col-md-4 control-label">Password</label>
				<div class="col-md-4">
					<input type="password" ng-model="inode.password" class="form-control" id="inputPassword" placeholder="Password (Optional)">
				</div>
			</div>

			<div class="form-group">
				<label for="inputSsl" class="col-md-4 control-label">SSL</label>
				<div class="col-md-4">
					<input type="checkbox" ng-model="inode.ssl" class="form-control" id="inputSsl">
				</div>
			</div>

			<div class="form-group">
				<p>* - required fields</p>
			</div>

			<div class="form-group">
				<div class="col-md-offset-4 col-md-4">
					<button type="submit" class="btn btn-default" ng-click="addNode()">Add Node</button>
				</div>
			</div>
		</form>
	</div>
</div>
</div>
