<ng-include src="'views/navbar.html'"></ng-include>
<div class="container top-buffer-lg">
  <div class="jumbotron">
    <div class="row">
      <h1 style="margin-left:auto;margin-right:auto;display:inline-block;">
        Select a chart
      </h1>
    </div>

    <div class="row top-buffer-sm">

      <div class="col-md-6 col-xs-12 top-buffer-sm">
        <a class="btn btn-lg btn-default" ng-href="#/chart/circle"> Circle Chart</a>
      </div>

      <div class="col-md-6 col-xs-12 top-buffer-sm">
        <a class="btn btn-lg btn-default" ng-href="#/chart/sunburst"> Sunburst Chart</a>
      </div>
    </div>
  </div>
</div>