<ng-include src="'views/navbar.html'"></ng-include>
<div class="container-fluid container-panel top-buffer-lg">
	<div class="row">
		<h1>Services Health</h1>
	</div>
	
	<div class="row">
		<div class="form-group">
			<div class="col-md-offset-5 col-md-2 col-xs-12 input-group">
				<div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
				<input type="text" ng-model="searchquery" class="form-control" id="inputSearchquery" placeholder="Search Service">
			</div>
		</div>
	</div>

	<div class="row">
		<h1 ng-show="isLoading"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></h1>
		<div class="col-md-offset-4 col-md-4 col-xs-12">

			<div class="table-responsive">
			<table class="table" style="text-align:left;">
				<thead>
					<tr>
						<th>Current Status</th>
						<th>Details</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="service in services | filter: {name: searchquery} | orderBy: 'name'">
						<td>
							<span ng-class="{'glyphicon glyphicon-ok-sign text-success': service.health == 2, 'glyphicon glyphicon-exclamation-sign text-warning': service.health == 1, 'glyphicon glyphicon-remove-sign text-danger': service.health == 0}"></span> 
							{{service.name}}
						</td>
						<td>
							<p ng-if="service.health == 2">Service is operating normally</p>
							<p ng-if="service.health == 1">Performance issue</p>
							<p ng-if="service.health == 0">Service disruption</p>
						</td>
					</tr>
				</tbody>
			</table>
			</div>

		
	    </div>
	</div>
</div>