<ng-include src="'views/navbar.html'"></ng-include>
<div class="container top-buffer-lg">
  <div class="jumbotron">
    <div class="row">
      <h1 style="margin-left:auto;margin-right:auto;display:inline-block;">
                <font style="color:#6F799B;">IIB</font> <font style="color:#FF5600;">Heat</font><font style="color:#C3FF00">Map</font>
              </h1>
    </div>

    <div class="row top-buffer-sm">

      <div class="col-md-6 col-xs-12 top-buffer-sm">
        <a class="btn btn-lg btn-default" ng-href="#/chart"><span class="glyphicon glyphicon-th"></span> Go to Chart View</a>
      </div>

      <div class="col-md-6 col-xs-12 top-buffer-sm">
        <a class="btn btn-lg btn-default" ng-href="#/health"><span class="glyphicon glyphicon-plus-sign"></span> View the Health</a>
      </div>
    </div>

    <div class="row top-buffer-sm">
      <a class="btn btn-lg btn-default" ng-href="#/manage"><span class="glyphicon glyphicon-cog"></span> Manage Nodes</a>  
    </div>
  </div>
</div>