<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid" style="background-color: #6F7987;color:white;">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">IIB <font style="color:#FF5600;">H</font><font style="color:#C3FF00">M</font></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ng-class="{'active':viewChart}">
              <a ng-href="#/chart">Chart View</a>
            </li>
            <li ng-class="{'active':viewHealth}">
              <a ng-href="#/health">Health</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li ng-class="{'active':viewManage || viewAddNode}">
              <a ng-href="#/inodes">Manage INodes</a>
            </li>
            <li ng-class="{'active':viewServices}">
              <a ng-href="#/services">Manage Services</a>
            </li>
            <li style="padding:20px;"></li>
            <li><a href="#/" style="height:10px;"><img src="/images/logo-ibm.png"/ style="height:30px;padding-bottom:10px"></a></li>
          </ul>
        </div>
      </div>
    </nav>