<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid" style="background-color: #6F7987;color:white;">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">IIB <font style="color:#FF5600;">H</font><font style="color:#C3FF00">M</font></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li dropdown ng-class="{'active':viewChart}">
              <a class="dropdown-toggle" dropdown-toggle href="">
                <span class="glyphicon glyphicon-th"></span> Chart View
              </a>
              <ul class="dropdown-menu"role="menu">
                <li><a ng-href="#/chart/circle">Circle Chart</a></li>
                <li><a ng-href="#/chart/sunburst">Sunburst Chart</a></li>
                <li><a ng-href="#/chart/bilevel">Bilevel Chart</a></li>
              </ul>
            </li>
            <li ng-class="{'active':viewHealth}">
              <a ng-href="#/health"><span class="glyphicon glyphicon-plus-sign"></span> Health</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li dropdown ng-class="{'active':viewManage || viewAddNode || viewServices}">
              <a class="dropdown-toggle" dropdown-toggle ng-disabled="disabled" href="">
              <span class="glyphicon glyphicon-cog"></span>  Manage <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a ng-href="#/inodes">Integration Nodes</a></li>
                <li><a ng-href="#/services">Services</a></li>
              </ul>
            </li>
            <li style="padding:20px;"></li>
            <li><a href="#/" style="height:10px;"><img src="/images/logo-ibm.png"/ style="height:30px;padding-bottom:10px"></a></li>
          </ul>
        </div>
      </div>
    </nav>